.NetworkDetailsPage {
  .tab-menu {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: end;

    .tab-menu-item {
      margin-right: 2rem;
      font-size: medium;
      font-weight: bold;
      padding: 0px 0.5rem;
      cursor: pointer;

      &:last-of-type {
        margin-left: auto;
      }

      &.active {
        border-bottom: 4px solid black;
      }
    }
  }

  .selected-row {
    $bg-color: rgba(128, 107, 282);
    $bg-color-alpha: rgba($bg-color, 0.1);
    background-color: $bg-color-alpha !important;

    td.ant-table-column-sort {
      background-color: transparent;
    }

    td:first-of-type {
      transition: all 200ms;
      border-left: 4px solid $bg-color;
    }
  }

  .search-container {
    margin-left: 50px;
    background-color: transparent;
    border: none;
  }

  .react-sigma-search {
    background-color: transparent;

    input {
      border: 1px solid #333;
      border-radius: 50px;
      padding: 0.5rem 1rem;
    }
  }
}
