.NetworkDetailsPage {
  .tab-menu {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: end;

    .tab-menu-item {
      margin-right: 2rem;
      font-size: medium;
      font-weight: bold;
      padding: 0px 0.5rem;
      cursor: pointer;

      &:last-of-type {
        margin-left: auto;
      }

      &.active {
        border-bottom: 4px solid black;
      }
    }
  }

  .selected-row {
    $bg-color: rgba(128, 107, 282);
    $bg-color-alpha: rgba($bg-color, 0.1);
    background-color: $bg-color-alpha !important;

    td.ant-table-column-sort {
      background-color: transparent;
    }

    td:first-of-type {
      transition: all 200ms;
      border-left: 4px solid $bg-color;
    }
  }

  .search-container {
    margin-left: 50px;
    background-color: transparent;
    border: none;
  }

  .react-sigma-search {
    background-color: transparent;

    input {
      border: 1px solid #333;
      border-radius: 50px;
      padding: 0.5rem 1rem;
    }
  }

  .internet-gw-icon {
    margin-left: .5rem;
    width: 1rem;
    height: 1rem;
  }
}

.network-details-table-buttons {
  // Styles for larger screens here...

  @media (max-width: 766px) { // 768px is a common breakpoint for tablets and below
    // margin-top: 10px;
    display: flex;
    justify-content: end;
  }

  @media screen and (max-width: 576px) { // 576px is a common breakpoint for phones and below
    display: flex;
    justify-content: end;
  }

  @media screen and (max-width: 428px) { // 480px is a common breakpoint for phones and below
    display: flex;
    // justify-content: end;
    flex-wrap: wrap;

    button {
      margin-top: 10px;
      width: 100%;
    }
  }
}

.mt-10 {
  @media screen and (max-width: 992px){
    margin-top: 10px;
  }
}

.search-acl-host-input {
  width: 60%;
  @media screen and (max-width: 630px){
    width: 100%;
    margin-bottom: 10px;
  }
}

.show-clients-toggle {
  margin-left: 2rem;

  @media screen and (max-width: 630px){
    margin-left: 0;
  }
}

.acl-tab-buttons {
  text-align: right;

  @media screen and (max-width: 1200px){
    text-align: left;
  }

  @media  screen and (max-width: 426px) {
    button {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.overview-card {
  width: 50%;

  @media screen and (max-width: 768px){
    width: 90%;
  }
}

.add-host-dropdown-button {
  text-align: right;

  @media screen and (max-width: 768px){
    margin-top: 10px;
    text-align: left;
     
    button {
      width: 100% !important;
    }
  }
}

.full-width-button-xs {
  @media screen and (max-width: 768px){
    width: 100% !important;
  }
}

.display-all-container-switch {
  display: inline;
  @media screen and (max-width: 768px){
    display: block;
    text-align: left;
    margin-top: 10px;
  }
}

.progress-card {
  position: absolute;
  float: left;
  bottom: 10px;
  left: 10px;
  z-index: 200;
}

// .ant-tour {
//   width: 70%;
// }