.NetworkHostDetailsPage {
  .host-menu {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: end;

    .host-menu-item {
      margin-right: 2rem;
      font-size: medium;
      font-weight: bold;
      padding: 0px 0.5rem;
      cursor: pointer;

      &:last-of-type {
        margin-left: auto;
      }

      &.active {
        border-bottom: 4px solid black;
      }
    }
  }
}
