/* to allow for bottom sidenav items */
.ant-layout-sider-children {
  position: relative;
}

.page-padding-y {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
}

.page-padding-x {
  padding-left: 5.125rem;
  padding-right: 5.125rem;
}

.page-padding {
  @extend .page-padding-y;
  @extend .page-padding-x;

  @media screen and (max-width: 1050px) { 
    flex-wrap: wrap;
  }

  @media (max-width: 768px) { // 768px is a common breakpoint for tablets and below
    padding: 24px 15px 16px 15px;
  }
}

.page-row-padding-x {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.page-row-padding-y {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.page-row-padding-b {
  padding-bottom: 1rem;
}

.page-row-padding-t {
  padding-top: 1rem;
}

.page-row-padding {
  @extend .page-row-padding-x;
  @extend .page-row-padding-y;
  @extend .page-row-padding-b;

  @media screen and (max-width: 1362px) { 
    flex-wrap: wrap;
  }

  @media (max-width: 768px) { // 768px is a common breakpoint for tablets and below
    padding: 24px 10px 16px 10px;
  }
}

.tabbed-page-row-padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
}

.tabbed-page-row-padding-y {
  @extend .page-row-padding-y;
}

.tabbed-page-row-padding {
  @extend .tabbed-page-row-padding-x;
  @extend .tabbed-page-row-padding-y;
}

#side-nav > li:nth-child(2) {
  max-height: 180px;
  overflow-y: auto;

  /* For Webkit browsers like Chrome and Safari */
  &::-webkit-scrollbar {
    width: 5px; /* Adjust width for vertical scrollbar */
    border-radius: 2.5px; /* Half of the scrollbar width */
  }

  &::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 2.5px; /* Half of the scrollbar width */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #fff; /* Scroll thumb color, Track color */
}