@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
  font-family: SFPro;
  src: url('/SFProText-Regular.ttf');
}


:root {
  font-family:'Inter', SFPro, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}
