@font-face {
  font-family: SFPro;
  src: url('/SFProText-Regular.ttf');
}

:root {
  font-family: SFPro, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}
